.o_form_view {
	.copiable_address {
		.copiable_field {
		}
		.copy_button {
			display: none;
		}
	}
	&.o_form_editable .copiable_address {
		.copiable_field {
			width: 60%;
		}
		.copy_button {
			display: inline-block;
			border: 1px solid;
			float: right;
		}
	}
}

