// TODO: Maybe this file should be part of module l10n_fr_department
.o_form_view {
	.o_address_format {
		// TODO: Does o_city_zip_department and o_state_country work independently?
		// TODO: Is the default behaviour of o_address_department OK without o_city_zip_department?
		&.o_city_zip_department {
			.o_address_city {
				margin-right: 1em;
			}
			.o_address_zip {
				margin-right: 1.5em;
			}
			.o_address_department {
				margin-right: 0;
				display: inline;
				&::after {
					content: "\A";
					white-space: pre;
				}
			}
		}
		&.o_state_country {
			.o_address_state {
				margin-right: 1.5em;
			}
			.o_address_country {
				display: inline;
				margin-right: 0;
				&::after {
					content: "\A";
					white-space: pre;
				}
			}
		}
	}
	&.o_form_editable .o_address_format {
		// TODO: Does o_city_zip_department and o_state_country work independently?
		// TODO: Is the default behaviour of o_address_department OK without o_city_zip_department?
		&.o_city_zip_department {
			.o_address_city {
				width: 40%;
				margin-right: 2%;
			}
			.o_address_zip {
				width: 18%;
				margin-right: 2%;
			}
			.o_address_department {
				display: inline-block;
				width: 38%;
				margin-right: 0;
				&::after {
					content: "";
				}
			}
		}
		&.o_state_country {
			.o_address_state {
				width: 60%;
				margin-right: 2%;
			}
			.o_address_country {
				display: inline-block;
				width: 38%;
				margin-right: 0;
				&::after {
					content: "";
				}
			}
		}
	}
}
